// SECTION :: START

.loader {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #1d1e31;

	svg {
		width: 139px;
		height: 111px;
	}

	p {
		color: #ffffff;
		text-transform: uppercase;
		line-height: 1;
		font-size: 28px;
		font-weight: 600;
		letter-spacing: 2px;

		span {
			opacity: 0.25;
		}
	}
}

// SECTION :: END
